<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" %>
    
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Private Events</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <p class="control">
              <%= link_to "Sign Up", new_user_path, class: "nav-link active" %>
            </p>
            <p class="control">
              <%= link_to "Sign In", new_session_path, class: "nav-link" %>
            </p>
            <p class="control">
              <%= link_to "Create Event", new_event_path, class: "nav-link" %>
            </p>
            <p class="control">
              <%= link_to "Sign Out", sessions_path, method: :delete, class: "nav-link" %>
            </p>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
